body {
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    background: $background-color;
    color: $text-color;
    font-family: $base-font-family;
    line-height: $base-line-height;
}
